//Tipografia
$text-body:'Raleway', sans-serif;


//Medidas
$telefono:480px;
$tablet:992px;
$laptop:1280px;
$desktop:2240px;

//Colores
$blanco: #FFF;
$negro: #111111;
$gris: #343A40;
$trasnparente:#c6c3c385;